[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "python -m pytest tests"
run  = "python main.py"

[packages]
watchdog = ">=1.0.0"
pytest = ">=6.1.2"
bandit = ">=1.6.3"
pyserial = ">=3.5"
setuptools-rust = ">=0.11.5"
gpiozero = "*"
pylint = ">=2.11.1"
lib-digital-dash = {path = "./libdigitaldash"}
Pillow = "*"
PGen = ">=0.2.1"
Kivy = {git = "git+https://github.com/craigkai/kivy", ref = "initialize-logger" }

[dev-packages]
pre-commit = "*"
black = "*"
Mock = "*"

[requires]
python_version = "3.10"
