-i https://pypi.org/simple
astroid==2.14.2 ; python_full_version >= '3.7.2'
attrs==22.2.0 ; python_version >= '3.6'
bandit==1.7.4
colorzero==2.0
dill==0.3.6 ; python_version >= '3.11'
gitdb==4.0.10 ; python_version >= '3.7'
gitpython==3.1.31 ; python_version >= '3.7'
gpiozero==1.6.2
iniconfig==2.0.0 ; python_version >= '3.7'
isort==5.12.0 ; python_full_version >= '3.8.0'
lazy-object-proxy==1.9.0 ; python_version >= '3.7'
./libdigitaldash
mccabe==0.7.0 ; python_version >= '3.6'
packaging==23.0 ; python_version >= '3.7'
pbr==5.11.1 ; python_version >= '2.6'
pgen==0.2.1
pillow==9.4.0
platformdirs==3.0.0 ; python_version >= '3.7'
pluggy==1.0.0 ; python_version >= '3.6'
pylint==2.16.2
pyserial==3.5
pytest==7.2.1
pyyaml==6.0 ; python_version >= '3.6'
semantic-version==2.10.0 ; python_version >= '2.7'
setuptools==67.4.0 ; python_version >= '3.7'
setuptools-rust==1.5.2
smmap==5.0.0 ; python_version >= '3.6'
stevedore==5.0.0 ; python_version >= '3.8'
tomlkit==0.11.6 ; python_version >= '3.6'
typing-extensions==4.5.0 ; python_version >= '3.7'
watchdog==2.2.1
wrapt==1.14.1 ; python_version >= '3.11'
